body {
    font-family: 'Arvo';
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

/* List */

ul {
    list-style: none;
}

/* li {
    background: #fff;
    width: 500px;
    min-height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    display: flex;
    align-items: center;
} */

.list-group-item {
    position: relative;
    display: block;
    /* padding: .75rem 1.25rem; */
    /* margin-bottom: -1px; */
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}


/* ------------------ */



li{
    margin: 10px;
  }
  
  .todo{
    margin: auto;
  }
  
  .hovero:hover{
    background: black !important;
  }
  
  .hovero:hover i{
    color: white;
  }
  
  .todo-item{
    display: flex;
    justify-content: space-between;
  }
  .addspace{margin-right: 5px;}
  
  



.delete {
    display: none;
    margin-left: auto;
}

li:hover .delete {
    display: block;
}

label {
    width: 400px;
}

.completed {
    text-decoration: line-through;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

/* Controls */

.controls {
    margin-top: 20px;
}
